<div class="content-wrapper" js-index-content="index">
	<div class="content">
		<div class="row index-slider">
			<div class="content-navbar-grid-spacer">&nbsp;</div>
			<div class="index-swiper">
				<div class="
					studio__locations
					studio__locations--index
					index-enter-element
					index-enter-element--from-top
				">
					<div class="studio__location" js-controller="studioLocation" js-args="{location: 'lac'}">
						<div class="studio__city">
							Los Angeles, USA
						</div>
						<div class="studio__day-and-time">
							<div class="studio__day" js-date>
								Thursday April 28
							</div>
							<div class="studio__time" js-time>
								12:00pm
							</div>
						</div>
					</div>
					<div class="studio__location" js-controller="studioLocation" js-args="{location: 'sydney'}">
						<div class="studio__city">
							Sydney, Australia
						</div>
						<div class="studio__day-and-time">
							<div class="studio__day" js-date>
								Fri April 29
							</div>
							<div class="studio__time" js-time>
								1:59am
							</div>
						</div>
					</div>
				</div>

				<!-- <div class="
					index-message
				" js-controller="indexTypedText">
					<p 
						class="
							index-enter-element
							index-enter-element--initial"
						onclick="
							window.globalAPI.desktopDirectLoadOnHash('#jack-erwin')
						"
					>
						<span>We</span> build products,<br>
						brands and experiences<br>
						for the world you live in.
					</p>
				</div> -->

				<div class="index-video" js-controller="indexTypedText">
					<div class="index-video__container">
						<div class="index-video__wrapper">
							<div class="embed-container " data-responsive-image-color="{{ project.color }}">
								<div class="embed-container__overlay-icon"  embed-container__overlay-icon>
									<div class="embed-container__overlay-icon-play">
										<?xml version="1.0" encoding="utf-8"?>
										<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
										<path fill="#444444" d="M8 1c3.9 0 7 3.1 7 7s-3.1 7-7 7-7-3.1-7-7 3.1-7 7-7zM8 0c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8v0z"></path>
										<path fill="#444444" d="M6 4v8l6-4z"></path>
										</svg>
									</div>
								</div>
								<iframe src='https://player.vimeo.com/video/395219302?h=9071a9062f&portrait=0&byline=0&controls=1&title=0&responsive=1&fun=0&byline=0&transparent=0&muted=1&loop=1&autoplay=1'
								frameborder="0" allow="autoplay; picture-in-picture" allowfullscreen vimeo-embed></iframe>
							</div>
						</div>
					</div>
				</div>
				<!-- Click play to play main video -->

				{% comment %}
				<div class="swiper-container" js-controller="indexSwiper" js-args="{}">
					<div class="swiper-wrapper">
						{% assign images = site.index-slider-images %}
						{% for image in images %}
							<div class="swiper-slide swiper-lazy"
								data-background="{{ image.image }}"
								{% if image.project %}js-project-link="{{ image.project | slugify }}"{% endif %}
							>

							</div>
						{% endfor %}
					</div>
				</div>
				{% endcomment %}
			</div>
		</div>
	</div>
</div>

