<div class="visit" >
	<div class="visit__link-container">
		<a href="#" class="visit__link" target="_Blank">
			<div class="visit__link-content">
				<div class="visit__link-text" >view full project</div>
				<div class="visit__link-arrow">{% include svg.html type='arrow--right' %}</div>
			</div>
		</a>
	</div>
	<div class="visit__button-container">
		<a href="#" class="visit__button" target="_Blank">
			<div class="visit__button-content">
				<div class="visit__button-text" >Visit the Website</div>
				<div class="visit__button-arrow">{% include svg.html type='arrow--up-right' %}</div>
			</div>
		</a>
	</div>
</div>